@{
    ViewData["Title"] = "Get To Know Joel";
}

<h1>Get To Know Joel!</h1>
<br />
<h3>Joel Regularly Performs at Quick Wits Comedy</h3>
<a href="https://www.qwcomedy.com/">Go to Quick Wits Comedy</a>
<br />
<br />
<h3>Baconsale Site</h3>
<a href="https://baconsale.com/">Go to Baconsale</a>
<br />
<br />
<a href="https://baconsale.com/">
    <img src="~/img/BaconsaleKate.jpg" height="500"/>
</a>